*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e6e6e6;
}
#header{
    padding: 0.9rem;
    background-color: #f7b600;
    text-align: center;
}
#logo, #menu{
    padding: 0.7rem;
}
.logo-branco{
    color: #fff;
}
#menu a{
    text-decoration: none;
    border-radius: 8px;
    text-transform: uppercase;
}
#menu a:link, #menu a:visited{
    color: #fff;
    padding: 8px 12px;
}
#menu a:hover{
    background-color: #fff;
    color: #f7b600;
}
#main{
    width: 57.5rem;
    margin: 0.5rem auto;
    display: flex;
    flex-wrap: wrap;
}
#postagem{
    width: 41.25rem;
}